In [1]:
import scipy.stats as stats
import statsmodels.api as sm
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

## 4.TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

## We are going to conduct a Test of Independence using Chi-Square test with Contingency table

### We need to check whether the mean of any of these samples are different or the same?

## Step 1

### Null Hypothesis: µ1=µ2 =µ3=µ4 
### Alternative Hypthosis: Atleast One of them is Differente

## Step 2


###  Decide a cut-off value
###                Significance 5%
###                alpha = 0.05

##  Step 3
###  Collect evidence
###  Importing Files

In [2]:
hyp4=pd.read_csv('../Datasets/Costomer+OrderForm.csv')

In [3]:
hyp4.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

### Applying Descriptive Statistics

In [4]:
hyp4.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

## Checking for Null Values

In [5]:
hyp4.isnull().sum()

Phillippines    0
Indonesia       0
Malta           0
India           0
dtype: int64

### Checking value counts in data

In [6]:
print(hyp4['Phillippines'].value_counts())
print(hyp4['Indonesia'].value_counts())
print(hyp4['Malta'].value_counts())
print(hyp4['India'].value_counts())

Error Free    271
Defective      29
Name: Phillippines, dtype: int64
Error Free    267
Defective      33
Name: Indonesia, dtype: int64
Error Free    269
Defective      31
Name: Malta, dtype: int64
Error Free    280
Defective      20
Name: India, dtype: int64

### Creating Contingency table

In [7]:
tbl=[[271,267,269,280],[29,33,31,20]]

In [8]:
tbl

[[271, 267, 269, 280], [29, 33, 31, 20]]

### Calculating Expected Values for Observed data

In [9]:
stat, p, dof, expected = stats.chi2_contingency(tbl)

In [10]:
dof

3

In [11]:
p

0.2771020991233135

In [12]:
expected

array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]])

In [13]:
stat

3.858960685820355

## Step 4
### Compare Evidences with Hypothesis using t-statictic

In [14]:
observed = np.array([271, 267, 269, 280, 29, 33, 31, 20])
expected = np.array([271.75, 271.75, 271.75, 271.75, 28.25, 28.25, 28.25, 28.25])

In [15]:
test_statistic , p_value = stats.chisquare(observed, expected, ddof = dof)
print("Test Statistic = ",test_statistic,'\n', 'p_value =',p_value)

Test Statistic =  3.858960685820355
 p_value = 0.4254298144535761

## step 5

###